    p {
        font-family: Arial;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        column-gap: 20px;
        row-gap: 30px;
    }
    
    .social {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 200px;
        vertical-align: top;
        margin-right: 15px;
        border-radius: 2px;
    }
    
    .picture {
        width: 200px;
        aspect-ratio: 1 / 1;
        object-fit: fill;
        margin-bottom: 12px;
    }
    
    .picture1 {
        width: 200px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        margin-bottom: 12px;
    }
    
    .name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
        margin-left: 8px;
    }
    
    .mutual {
        display: grid;
        grid-template-columns: 35px 1fr;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 10px;
    }
    
    .animals {
        height: 28px;
        width: 28px;
        object-fit: cover;
        border-radius: 14px;
        vertical-align: middle;
        margin-right: 4px;
    }
    
    .friends {
        color: rgb(142, 139, 139);
    }
    
    .add {
        background-color: rgb(55, 102, 243);
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        padding: 10px 20px 10px 20px;
        margin-left: 8px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .add:hover {
        background-color: rgb(48, 91, 220);
    }
    
    .add:focus {
        outline: 2px solid rgb(48, 91, 220);
        outline-offset: 0.2px;
    }